.element__like {
    background: none;
    background-image: url('../../../images/like.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 20.76px;
    min-height: 18.13px;
    margin: 0;
    padding: 0;
    border: 0;
    transition: opacity 0.8s linear;
}

.element__like:hover {
    opacity: 0.6;
    cursor: pointer;
}