.edit-form__close-button {
    background: none;
    border: none;
    box-shadow: none;
    background: center/contain url('../../../images/close-button.svg') no-repeat;
    min-width: 47px;
    min-height: 47px;
    position: absolute;
    top: -47px;
    right: -47px;
    transition: opacity 0.8s linear;
}

.edit-form__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (min-width:320px) and (max-width: 479px) {
    .edit-form__close-button {
        min-width: 30px;
        min-height: 30px;
        top: -30px;
        right: -30px;
    }
}