.edit-form__container {
    background-color: #fff;
    width: 100%;
    max-width: 430px;
    min-height: 330px;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0,0,0,0.15);
    padding: 36px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

@media screen and (min-width:480px) and (max-width: 719px) {
    .edit-form__container {
        max-width: 330px;
        min-height: 253px;
    }
}

@media screen and (min-width:320px) and (max-width: 479px) {
    .edit-form__container {
        max-width: 250px;
        min-height: 190px;
        padding: 20px;
    }
}