.edit-form__save-button {
    width: 100%;
    min-height: 50px;
    background-color: rgba(0,0,0,1);
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 2px;
    transition: background-color 1s linear;
}

.edit-form__save-button:hover {
    background-color: rgba(0,0,0,0.8);
}